*{
    padding: 0;
    margin: 0;
}

.hero{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url(/images/bgi.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
}


.container{
    text-align: center;
    color: white;
}

.container h1{
    padding-top: 260px;
    padding-bottom: 0;
    font-size: 55px;
}

.container p{
    margin: 18px 0;

}

.input-group{
    width: 90%;
    max-width: 500px;
    border-radius: 30px;
    background: white;
    margin: auto;
    padding: 2px;
}

.form-control{
    border: 0 !important;
    border-radius: 30px !important;
    margin: 2px;
    box-shadow: none !important;
}

.input-group-text{
    width: 100px;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0 !important;
    color: white !important;
    padding: 0 25px !important;
    border-radius: 30px !important;
    box-shadow: none;

}